aws/
cloudformation/
awscliv2.zip
deploy-juri.sh.patch

token
deploy-juri.sh
fix-alias.sh
fix-alias.cors
fix-layer.sh
fix-cors.sh
README-JURI.md

.github\workflows\deploy.yml_
step_function/
.github/workflows/deploy.yml_